<h2>Stationary Filter</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Start time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="starttime" required>
        <span>eg: 1519006394</span>
      </div>
      <div class="form-group">
        <label for="name">Stop time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="stoptime" required>
        <span>eg: 1519006396</span>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<br>
<br>
<!-- Stationary Filter Data -->
<table *ngIf="devices">
  <tr>
    <th>Device Name</th>
    <th>Total Stationary Duration</th>
  </tr>
  <tr *ngFor="let device of devices">
    <td>{{device.device_id}}</td>
    <td>{{device.stationary}}</td>
  </tr>
</table>
