<h2>Geo Overspeeding</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Start time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="starttime" required>
        <span>eg: 1518806702</span>
      </div>
      <div class="form-group">
        <label for="name">Stop time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="stoptime" required>
        <span>eg: 1518806703</span>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<br>
<br>
<!-- Geo Overspeeding Data -->
<table *ngIf="devices">
  <tr>
    <th>Device Name</th>
    <th>Longitude, Latitude (1st instance)</th>
  </tr>
  <tr *ngFor="let device of devices">
    <td>{{device.device_id}}</td>
    <td>{{device.overspeeding.geo[0]}}, {{device.overspeeding.geo[1]}}</td>
  </tr>
</table>
