<h1>{{title}}</h1>
<nav>
  <a routerLink="/local-system-health">Local System Health</a>
  <a routerLink="/list-devices">List Devices</a>
  <a routerLink="/type-one-data">Type 1 Data</a>
  <a routerLink="/geo-overspeeding">Geo Overspeeding</a>
  <a routerLink="/geo-dwell">Geo Dwell</a>
  <a routerLink="/stationary-filter">Stationary Filter</a>
</nav>
<router-outlet></router-outlet>
<!-- <app-messages></app-messages> -->