<h2>Local System Health</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Start time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="starttime" required>
        <span>eg: 1518806420</span>
      </div>
      <div class="form-group">
        <label for="name">Stop time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="stoptime" required>
        <span>eg: 1518806424</span>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<br>
<br>
<!-- Local System Health Data -->
<table *ngIf="devices">
  <tr>
    <th>Device Name</th>
    <th>Current CPU Utilization %</th>
    <th>Memory Utilization %</th>
  </tr>
  <tr *ngFor="let device of devices">
    <td>{{device.device_id}}</td>
    <td>{{device.cpu_usage_percent}}</td>
    <td>{{device.ram_usage_percent}}</td>
  </tr>
</table>