<h2>List Devices</h2>
<!-- List Devices Data -->
<table *ngIf="devices">
  <tr>
    <td *ngIf="devices.type1"  class="style-tab">
      <table>
        <tr>
          <th>Type 1</th>
        </tr>
        <tr *ngFor="let type1 of devices.type1">
          <td>{{type1}}</td>
        </tr>
      </table>
    </td>
    <td *ngIf="devices.type2" class="style-tab">
    	<table>
        <tr>
          <th>Type 2</th>
        </tr>
        <tr *ngFor="let type2 of devices.type2">
          <td>{{type2}}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
