<h2>Geo Dwell</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Longitude</label>
        <input type="number" ngModel class="form-control" name="longitude" required>
        <span>eg: 72.8776560</span>
      </div>
      <div class="form-group">
        <label for="name">Latitude</label>
        <input type="number" ngModel class="form-control" name="latitude" required>
        <span>eg: 19.0759837</span>
      </div>
      <div class="form-group">
        <label for="name">Start time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="starttime" required>
        <span>eg: 1518801205</span>
      </div>
      <div class="form-group">
        <label for="name">Stop time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="stoptime" required>
        <span>eg: 1518801210</span>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<br>
<br>
<!-- Geo Dwell Data -->
<table *ngIf="devices">
  <tr>
    <th>Device Name</th>
  </tr>
  <tr *ngFor="let device of devices">
    <td>{{device}}</td>
  </tr>
</table>
