label {
    min-width: 180px;
    display: inline-block;
}
td,th{
  border: 1px solid #ddd;
  font-size: 14px;
  padding: 2px 10px;
}

button{
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
  color: #607D8B;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  font-size: 16px;
}

button:hover{
  cursor: pointer;
  color: #039be5;
  background-color: #CFD8DC;
}