<h2>Type 1 Data</h2>
<div class="container">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
      <div class="form-group">
        <label for="name">Start time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="starttime" required>
        <span>eg: 1518806415</span>
      </div>
      <div class="form-group">
        <label for="name">Stop time (Epoch Time)</label>
        <input type="number" ngModel class="form-control" name="stoptime" required>
        <span>eg: 1518806424</span>
      </div>
      <div class="form-group">
        <label for="name">Device Identity</label>
        <input type="text" ngModel class="form-control" name="deviceid" required>
        <span>eg: 127.0.0.1:61738</span>
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>
<br>
<br>
<!-- Type 1 Data -->
<table *ngIf="devices">
  <tr>
    <th>Device Name</th>
    <th>Timestamp</th>
    <th>Status</th>
    <th>Speed</th>
  </tr>
  <tr *ngFor="let device of devices">
    <td>{{device.device_id}}</td>
    <td>{{device.created_date}}</td>
    <td>{{device.status}}</td>
    <td>{{device.speed}}</td>
  </tr>
</table>